<!DOCTYPE html>
<html>
<head>
	<title>Data</title>
</head>
<body>

	<html>
<body>
<header class="header">
    <div class = "overlay"></div>
    <div class="container">
      <div class = "description">
        <h1> <strong>Registration Page</strong> </h1>
      </div>
      <div class ="card">
        <div class ="card-body">
          <form action = "http://localhost:5000/results" method= "POST">
            <div class="form-group">
              <label for="exampleInputEmail1">First Name</label>
              <input type="text" class="form-control" id="FirstName" aria-describedby="emailHelp"  name="fname" >
              
            </div>
             <div class="form-group">
              <label for="exampleInputEmail1">Last Name</label>
              <input type="text" class="form-control" id="LastName" aria-describedby="emailHelp" name="lname">
              
            </div>
             <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
            </div>

            
            <button type="submit" class="btn btn-primary" value = "submit1">Submit</button>
          </form>

</div>
</div>
</div>
</header>

</body>
</html>